<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->
<h2 class="text-center">Редактирование пользователя</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "text-center" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :name, "Имя"%></br>
    <%= f.text_field :name%>
  </div>

  <div class="field form-group">
    <%= f.label :second_name, "Фамилия"%></br>
    <%= f.text_field :second_name%>
  </div>

  <div class="field form-group">
    <%= f.label :middle_name, "Отчество"%></br>
    <%= f.text_field :middle_name%>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ожидается активация аккаунта: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password, "Пароль" %> <i>(оставьте пустым, если не хотите менять пароль)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>Минимальная длина пароля: <%= @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Подтвердите пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password, "Текущий пароль" %> <i>(необходим для подтверждения изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Подтвердить" %>
  </div>
<% end %>

<h3 class="text-center">Удалить аккаунт</h3>

<div class="text-center"><%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></div>
<div class="text-center">
  <%= link_to "Назад", :back%>
</div>
