<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
        <%= form_for @comment do |f|%>
            <div class="form-group">
                <%= f.label :text, "Оставить отзыв"%><br>
                <%=text_area_tag(:text, "Hi, nice site", size: "70x6") %>
            </div>
            <div class="form-group">
                <%= hidden_field_tag(:id, params[:id]) %>
                <%= submit_tag "Подтвердить" %>
            </div>
        <%end%>
    </div>
    <div class="col-md-4">
    
    </div>
</div>