<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 comment_body <%=getCommentStatus(comment)%>" id="comment_<%=comment.id%>">
        <p class="author"><%= getFIOAuthor(comment)%></p>
        <p class="text"><%= comment.text%></p>
        <%if correct_user?(comment)%>
            <%= link_to 'Изменить', edit_book_comment_path(id: comment.id, book_id: comment.book_id), remote:true%>
            <%= link_to 'Удалить',book_comment_path(id:comment.id, book_id: comment.book_id), method: :delete%>
        <%end%>
    </div>
    <div class="col-md-4">

    </div>
</div>
