<h2 class="text-center">Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"text-center" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Подтвердить" %>
  </div>
<% end %>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
